/*index*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    text-decoration: none;
}
html{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    overflow-y: scroll; /* Permite el desplazamiento vertical incluso cuando el contenido no desborda la ventana */
    -webkit-backdrop-filter: blur(10px); /* Establece el filtro deseado, ajusta el valor de "blur" según lo prefieras */
    backdrop-filter: blur(10px);
}
img {
        border-style: none;
        max-width: 100%;
        user-select: none;
}
.titulo {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    display: inline-block;
    z-index: 5;
    position: fixed;
    transition: all ease .3s;
}
.titulo__nav {
   width:100%; 
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: transparent;
}
.titulo__nav--ul {
    width: 100%;
    display: inline-block;
    height: 100%;
}
.titulo__nav--ul1 {
    text-align: left;
    display: inline-block;
    width: 60%;
    transition: all ease .3s;
}
#menu{
    display: none;
}
.menu__li{
    display: none;
}
.barramenu__li--a{
    display: none;
}
.titulo__nav--img{
    display: none;
}
.titulo__nav--h1 {
    font-family: sriracha  ;
    font-weight: 100;
    display: inline;    
    text-align: left;
    margin-left:60px;
    color:rgb(240, 158, 158);
}
.titulo__nav--h1P {
    font-family: sans-serif  ;
    font-weight: 100;
    text-align: left;
    margin-left:-5px;
    color:rgb(240, 158, 158);
    display: inline;
    background-color: transparent;
}
.titleHP {
    display: none;
}
.titulo__nav--h1-2 {
    display: none;
}
.titulo__nav--h1P-2{
    display: none;
}
.titulo__nav--ul2 {
    text-align: left;
    display: inline-block;
    width: 40%;
}
.titulo__nav--li {
    display:inline ;
    box-sizing: border-box;
}
.titulo__nav--liC {
    display:inline ;
    box-sizing: border-box;
}
.titulo__nav--liC2{
    display: none;
}
.titulo__nav--li :hover{
    background-color: rgb(255, 157, 157);
    border-radius: 3px;
    color: white;
    transition: all ease .4s;
    box-sizing: border-box;

}
#contacto{
    cursor: pointer;
}
.titulo__nav--a1 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:.8em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a2 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:.8em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a3 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:.8em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a4 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:.8em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a5 {
    padding: 7px;
    display: inline;
    cursor: pointer;
    position: relative;
}
.titulo__nav--a  :hover{
    color: rgb(250, 158, 158);
    border-radius: 10px;
    border-width: 1em;
    border: 2px solid;
    border-color:rgb(240, 158, 158) ;
    transition: border 1s;
}
.licheck{
    display: none;
}
.div{
    height:50vh;
    width: 100%;
    display: inline-block;
}
.div__div1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('torta3.jpg');
    display: inline-block;
    width: 33VW;
    height: 70vh;
    margin: -3PX;
    background-position-y:center;
    background-position-x:center;
    background-size: contain;
}
.div__div2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('torta4.jpg');    
    display: inline-block;
    width: 33VW;
    height: 70vh;
    margin: -3PX;
    background-position-y:center;
    background-position-x:center;
    background-size: contain;
}
.div__div3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('torta5.jpg');
    display: inline-block;
    width: 33VW;
    height: 70vh;
    margin: -3PX;
    background-size:contain;
    background-position-y:center;
    background-position-x:center;
}
.img_model{
    display: none;
}
.section1 {
    margin-top: -10px;
    height: 30em;
    background-image:linear-gradient(rgba(0, 0, 0, .5 ), rgba(0, 0, 0, .7 )), url('chocolate.jpg') ;
    background-size: cover;
    background-attachment: fixed;
}
.section1__div1{
    width: 100%;
    background-color: rgb(253, 231, 131);
    display: inline-block;
    height: 6em;
    color: rgb(94, 63, 42);
    text-align: center;
}
.b{
    top: 2em;
    display: inline-block;
    padding-top: 1em;
    font-size: 2em;
    font-weight: 500;
}
.section1__div2{
    display: flex;
    text-align: left;
    width: 100%;
    height: fit-content;
    justify-content: center;
    color: white;
    background-position: center;
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 2em;
    transition: all .5s ease;
}
#img12{
    height: 20em;
    width: 20em;
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease;
}
#img12:hover{
    transform: scale(1.1);
}
.section1__div2--img{
    cursor: pointer;
}
.Lorem{
    opacity: 0;
    display: inline-block;
    width: 20em;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 1.5em;
    transition: slideInFromLeft 1s ease;
}
@keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
.article2{
    height: 55em;
    text-align: center;
    padding-top: 10em;
}
.article2__div1{
    background-attachment: fixed;
    background-image: url('fondorosa.jpg');
    background-position-x: 10%;
    background-size: auto 130%;
    background-repeat: repeat-y;
    width: 80%;
    margin: 2em 0 2em 0;
    display: inline-block;
    height: 8em;
    text-align: center;
    background-color: rgb(240, 158, 158);
    margin: auto;
}
.article2__div{
    background-attachment: fixed;
    background-image: url('fondorosa1.jpg');
    background-position-x:90%;
    background-size: auto 130%;
    background-repeat: repeat-y;
    background-clip:content-box;
    width: 100%;
    margin: 2em 0 2em 0;
    display: inline-block;
    height: 8em;
    text-align: center;
    margin: auto;
}
.article2__div--h3{
    color:rgb(94, 63, 42) ;
    padding-top: 2em;
    font-size: 1.5em;
}
.producto__ul{
    display: inline-block;
    width: 100%;
    list-style: none; /* Elimina los estilos de viñetas o números de la lista */
    padding: 0; /* Elimina el espacio interior por defecto de la lista */
    margin: 0; /* Elimina el espacio exterior por defecto de la lista */
    display: flex;
    flex-direction:column (5);
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center;
}
.producto__ul1{
    display: none;
    width: 100%;
    list-style: none; /* Elimina los estilos de viñetas o números de la lista */
    padding: 0; /* Elimina el espacio interior por defecto de la lista */
    margin: 0; /* Elimina el espacio exterior por defecto de la lista */
    display: flex;
    flex-direction:column (5);
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center;
}
.article2__div2{
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 22em;
    background-color: rgb(240, 158, 158);
    overflow: hidden;
    margin: .5em;
    text-align: center;
    transition: all ease .4s;
}
.article2__div2:hover{
    transform: scale(1.1);
}
.article2__div2--img{
    text-decoration: none;
    display: inline-block;
    height: 15em;
    background-image: url(torta6.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    transition: all ease .3s;
}
.article2__div2--img:hover{
    background-image: url(torta5.jpg);
}
.article2__div2--nombre{
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
}
.article2__div2--precio{
    display: block;
    font-size: .7em;
    font-weight: 100;
    opacity: .7;
}
.article2__div2--a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    background-color: rgb(253, 231, 131);
    text-decoration: none;
    display: block;
    color: rgb(94, 63, 42);
    bottom: 0;
    position:static;
    width: 100%;
    margin-top: auto;
    padding: .5em 0;
}
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
footer {
    background-color: rgb(85, 46, 46);
    width: 100%;
    text-align: center;
    display: inline-block;
    color:rgb(255, 255, 255);
    background-image: url(tortachoco.jpg);
    background-size:contain;
    height: 30%;
    border-color: rgba(240, 248, 255, 0);
    position: relative;
}
.footer__conta {
    padding-left: 20px;
}
.link{
    color:rgb(255, 255, 255);
    
}
.footer-p {
    margin-bottom: 10px; 
    display: inline-block;
}
.footer__ul--li { 
    display: inline-block;
    margin: 5px;
    
}
.contacto-img{
    top: 5px;
}
/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media screen and (max-width: 860px){
    .titulo__nav--ul1{
        width: 50%;
        transition: all ease .3s;
    }
}
@media screen and (max-width: 778px) {
    .titulo{
        height: 3em;
        overflow: hidden;
    }
    .titulo__nav{
        padding-top: .5vh;
        padding-bottom: .5vh;
    }
    .titulo__nav--ul {
        text-decoration: none;
    }
    .titulo__nav--ul1 {
        text-align: center;
        width: 100%;
        display:flexbox;
        justify-content: center;
        align-items: center;
    }
    .titulo__nav--h1-2 {
        font-family: sriracha;
        font-weight: 100;
        display: inline-block;    
        color:rgb(240, 158, 158);
        width:fit-content;
        height: fit-content;
        margin: auto;
    }
    .titulo__nav--h1P-2 {
        font-family: sans-serif  ;
        font-weight: 100;
        color:rgb(240, 158, 158);
        display: inline-block;
    }
    .titulo__nav--li {
        display: none; /* Ocultar el menú en pantallas pequeñas */
    }
    .titulo__nav--liC{
        display: none;
    }
    .titulo__nav--liC2{
        display:inline;
        position: fixed;
        padding: .5em 1em;
        right: 0;
    }
    .titulo__nav--h1 {
        display: none;
    }
    .titulo__nav--h1P {
        display: none;
    }
    .titulo__nav--img{
        display: inline-block;
        padding: 0 0;
        text-align: left;
        margin-left: 1.5em;
        position: absolute;
        justify-content: center;
        margin-top: .6em;
    }
    .menu{
        display: none;
        padding: 0;
        transition: all ease 3s;
    }
    #menuli{
        transition: all ease 5s;
    }
    .barramenu__li{
        padding: 1.7em 0;
        color: rgb(240, 158, 158);
        text-decoration: none;
        transition: all ease 3s;
    }
    .barramenu__li--a{
        color:rgb(240, 158, 158);
        display: inline-block;
        padding: 10px;
        position:relative;
        font-weight: 200;
        transition: all ease 3s;
    }
    #btnmenu{
        border:0px;
        background-color: transparent;
    }
    .barramenu{
        display: inline-block;
        height: 1.3em;
        transition: all ease .5s;
        transform: 0.3s;
    }
    .licheck{
        display:inline;
        position: fixed;
        opacity: 0;
    }
    .titulo__nav--h1 {
        margin: auto;
    }
    .titulo__nav--a{
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
    }
    .titulo__nav--a5{
        padding: 0;
    }
    .div{
        height: 50vh;
        overflow: hidden;
    }
    .div__div1{
        width: 100%;
        height: 100%;
        background-image: none;
        transition: .5s ease;
        display: flex;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    }
    .div__div2{
        display: none;
        background-image: none;
    }
    .div__div3{
        display: none;
        background-image: none;
    }
    .img_model{
        display: inline-block;
        height: auto;
        object-fit: cover;
    }
    .section1{
        display: block;
    }
    .section1__div2{
        display: block;
        text-align: center;
    }
    #img12{
        width: 80%;
        height: auto;
    }
    .section1__div2--img{
        display:block;
        width: 100%;
        margin: auto;
        cursor: none !important
    }
    .Lorem{
        display: block;
        font-size: 1em;
        font-weight: 100;
        font-family: system-ui;
        overflow: hidden;
        margin: auto;
        margin-bottom: 2em;
        width: 80%;
    }
    .article2{
        overflow:hidden;
        height: 180em;
        display: grid;
        grid-template-columns: column(1);
        align-items: center;
    }
    .article2__div2{
        background-color: rgb(240, 158, 158);
    }
    .producto__ul{
        flex-direction:column;
    }
    @keyframes slide-bottom{0%{transform:translateY(-20px)}50%{transform:translateY(-10px)}100%{transform:translateY(0)}}
    .producto__ul1{
        display:none;
    }
    .article2__div1{
        background-attachment: fixed;
        background-image: url('fondorosa.jpg');
        background-position-x: 5%;
        background-size: auto 100%;
        background-repeat: repeat-y;
        width: 90%;
        margin: 2em 0 2em 0;
        display: inline-block;
        height: 5em;
        text-align: center;
        background-color: rgb(240, 158, 158);
        margin: auto;
    }
    .article2__div{
        background-attachment: fixed;
        background-image: url('fondorosa1.jpg');
        background-position-x:95%;
        background-size: auto 100%;
        background-repeat: repeat-y;
        background-clip:content-box;
        width: 100%;
        margin: 2em 0 2em 0;
        display: inline-block;
        height: 5em;
        text-align: center;
        margin: auto;
    }
    .article2__div--h3{
        padding-top: 2em;
        font-size: 1em;
    }
    .article2__div2{
        display: inline-block;
        width: 80%;
        height: 100%;
        background-color: rgb(240, 158, 158);
        background-position-x: ;
        overflow: hidden;
        margin: .5em;
        text-align: center;
        transition: all ease .4s;
    }
    
    .article2__div2--img{
        background-size:cover ;
        box-sizing:;
        top: 0;
        height: 19em;
        width: 100%;   
        display: flex;
        overflow: hidden;
    }
    .article2__div2--img1{
        top: 0;
        height: 19em;
        object-fit: cover;
        object-position: left;
    }
}
@media screen and (max-width: 260px){
}

