/*galeria*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
html{
    background-color: rgb(250, 166, 166);
}
img {
        border-style: none;
        max-width: 100%;
}
.titulo {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    display: inline;
    z-index: 50;
    position: fixed;
    background: transparent;
    opacity: 1;
    transition: all .5s;
}
.titulo__nav {
   width:100%; 
   padding-top: 1em;
   padding-bottom: 1em;
   background: transparent;
}
.titulo__nav--ul {
    width: 100%;
    display: inline-block;
}
.titulo__nav--ul1 {
    text-align: left;
    display: inline-block;
    width: 60%;
}
.titulo__nav--h1 {
    font-family: sriracha  ;
    font-weight: 100;
    display: inline;    
    text-align: left;
    margin-left:60px;
    color:rgb(240, 158, 158);
}
.titulo__nav--h1P {
    font-family: sans-serif  ;
    font-weight: 100;
    text-align: left;
    margin-left:-5px;
    color:rgb(240, 158, 158);
    display: inline;
    background-color: transparent;
}
.titulo__nav--ul2 {
    text-align: center;
    display: inline-block;
    width: 40%;
}
.titulo__nav--li {
    display:inline ;
}
.titulo__nav--a {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a  :hover{
    color: rgb(250, 158, 158);
    border-radius: 10px;
    border-width: 1em;
    border: 2px solid;
    border-color:rgb(240, 158, 158) ;
    transition: border 1s;

}
#contacto{
    cursor: pointer;
}
.section{
    background-size:cover;
    background-position-x: center;
    height:100vh;
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../torta1.jpg");
}
.sect__p{
    text-align: center;
    display: inline-block;
    font-size:4em;
    font-weight: 600;
    color: rgb(241, 158, 158);
    margin-top: 7em;
    margin-left: 1em;
    opacity: 1;
}
.section__div{
    display: flex;
    justify-content: center;
    top: 88vh;
    position: relative;
}
.flecha{
    cursor: pointer;
    position: relative;
    height: 2em;
}
.main{
    height: 60em;
}
.hola{
    color: aliceblue;
}
footer {
    background-color: rgb(85, 46, 46);
    width: 100%;
    text-align: center;
    display: inline-block;
    color:rgb(255, 255, 255);
    background-image: url(../tortachoco.jpg);
    background-size:contain;
    height: 100%;
    border-color: rgba(240, 248, 255, 0);
}
.footer__conta {
    padding-left: 20px;
}
.link{
    color:rgb(255, 255, 255);
    
}
.footer-p {
    margin-bottom: 10px; 
    display: inline-block;
}

.footer__ul--li { 
    display: inline-block;
    margin: 5px;
    
}
.contacto-img{
    top: 5px;
}
/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media screen and (max-width: 978px) {
    .titulo__nav--ul{
        text-align: center;
    }

    .titulo__nav--li {
        display: none; /* Ocultar el menú en pantallas pequeñas */
    }
    .titulo__nav--ul1 {
        text-align: center;
        margin:auto;
    }
    .titulo__nav--h1 {
        margin: auto;
    }
    .titulo__nav--a{
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;

    }
    .section{
        height: 99vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../torta2.jpg");
        background-position-y: center;
        background-position-x: center;
    }
    .section__div{
        display: flex;
        position: static
    }
    .flecha{
        display: inline-block;
        position: relative;
        top: 90vh;
        left: auto;
        height: 1em;
        margin: 0 46vw;
        image-rendering: optimizeQuality;
    }
    .main{
        padding-top: 10px;
        background-position: end;
        background-size:auto;
        padding-bottom: 50px;
        padding-right:30px;
        padding-left: 30px;
    }
}
.menu__HsPFALSO {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    display: inline;
    z-index: 50;
    background: white;
    opacity: 0;
}