/*hassarinicio*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
img {
        border-style: none;
        max-width: 100%;
}
.menu__HsP {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    display: inline;
    z-index: 50;
    position: fixed;
    background: white;
    opacity: 1;
}
.menu__HsPFALSO {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    display: inline;
    z-index: 50;
    background: white;
    opacity: 0.1;
}
.ind__ul--h1 {
    font-family: sriracha  ;
    font-weight: 100;
    display: inline-block;
    text-align: left;
    margin-left:60px;
    color:rgb(240, 158, 158);
    display: inline;
}
.menu__ind {
   width:100%; 
   padding-top: 30px;
   padding-bottom: 15PX;
}
.menu__ind--ul {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}
.ind__ul--li {
    display:inline-block ;
}
.ul__li--a {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    border-color:rgb(240, 158, 158) ;
    border-radius: 20px;
    border-width: 20     px;
    background-color: rgb(250, 229, 229);
    padding: 7px;
}
.main{
    padding-top: 10px;
    background-position: end;
    background-attachment:;
    background-size:auto;
    padding-bottom: 50px;
    padding-right:70px;
    padding-left: 70px;
}
.lorem {
    margin: 50px;
    font-family:'Gill Sans MT', Calibri, 
       
}
.main__sect--sect{
    text-align:center;
    font-family:'Trebuchet MS';
    background: white;
    /*background-image: url(multimedia/tortachoco.jpg);*/
    border-radius: 20px;
    background-color: rgb(253, 255, 154);
}
.main__sect--h2 {
    opacity: 1 !important;
}
.main__sectA--h2{
    text-align: center;
}
.footer__conta {
    padding-left: 20px;
}
.link{
    color:rgb(255, 255, 255);
}
footer {
    background-color: rgb(85, 46, 46);
    width: 100%;
    text-align: center;
    display: inline-block;
    color:rgb(255, 255, 255);
    background-image: url(tortachoco.jpg);
    background-size:contain;
    height: 100%;
    border-color: rgba(240, 248, 255, 0);
}
.footer-p {
    margin-bottom: 10px; 
    display: inline-block;
}