/*index*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
html{
    background-color: rgb(255, 255, 255);
}
img {
        border-style: none;
        max-width: 100%;
}

.titulo {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    display: inline-block;
    z-index: 5;
    position: fixed;
    transition: all ease .3s;
}
.titulo__nav {
   width:100%; 
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: transparent;
}
.titulo__nav--ul {
    width: 100%;
    display: inline-block;
    height: 100%;
}
.titulo__nav--ul1 {
    text-align: left;
    display: inline-block;
    width: 60%;
    transition: all ease .3s;
}
#menu{
    display: none;
}
.menu__li{
    display: none;
}
.barramenu__li--a{
    display: none;
}
.titulo__nav--img{
    display: none;
}
.titulo__nav--h1 {
    font-family: sriracha  ;
    font-weight: 100;
    display: inline;    
    text-align: left;
    margin-left:60px;
    color:rgb(240, 158, 158);
}
.titulo__nav--h1P {
    font-family: sans-serif  ;
    font-weight: 100;
    text-align: left;
    margin-left:-5px;
    color:rgb(240, 158, 158);
    display: inline;
    background-color: transparent;
}
.titleHP {
    display: none;
}
.titulo__nav--h1-2 {
    display: none;
}
.titulo__nav--h1P-2{
    display: none;
}
.titulo__nav--ul2 {
    text-align: left;
    display: inline-block;
    width: 40%;
}
.titulo__nav--li {
    display:inline ;
}
#contacto{
    cursor: pointer;
}
.titulo__nav--a1 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
    border-left:1px solid;
    border-color:  rgb(240, 158, 158);
}
.titulo__nav--a2 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a3 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a4 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
}
.titulo__nav--a5 {
    padding: 7px;
    display: inline;
    cursor: pointer;
    position: relative;
}
.titulo__nav--a  :hover{
    color: rgb(250, 158, 158);
    border-radius: 10px;
    border-width: 1em;
    border: 2px solid;
    border-color:rgb(240, 158, 158) ;
    transition: border 1s;
}
.licheck{
    display: none;
}
.div{
    height:50vh;
    width: 100%;
    display: inline-block;
}
.div__div1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('torta3.jpg');
    display: inline-block;
    width: 33VW;
    height: 70vh;
    margin: -3PX;
    background-position-y:center;
    background-position-x:center;
    background-size: contain;
}
.div__div2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('torta4.jpg');    
    display: inline-block;
    width: 33VW;
    height: 70vh;
    margin: -3PX;
    background-position-y:center;
    background-position-x:center;
    background-size: contain;
}
.div__div3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('torta5.jpg');
    display: inline-block;
    width: 33VW;
    height: 70vh;
    margin: -3PX;
    background-size:contain;
    background-position-y:center;
    background-position-x:center;
}
.img_model{
    display: none;
}
.section1 {
    margin-top: -10px;
    height: 30em;
}
.section1__div1{
    width: 100%;
    background-color: rgb(250, 222, 98);
    display: inline-block;
    height: 6em;
    color: rgb(94, 63, 42);
    text-align: center;
}
.b{
    top: 2em;
    display: inline-block;
    padding-top: 1em;
    font-size: 2em;
    font-weight: 500;
}
.section1__div2{
    display: inline-block;
    margin-right: 2em;
    margin-left: 2em;
    text-align: center;
}
footer {
    background-color: rgb(85, 46, 46);
    width: 100%;
    text-align: center;
    display: inline-block;
    color:rgb(255, 255, 255);
    background-image: url(tortachoco.jpg);
    background-size:contain;
    height: 100%;
    border-color: rgba(240, 248, 255, 0);
}
.footer__conta {
    padding-left: 20px;
}
.link{
    color:rgb(255, 255, 255);
    
}
.footer-p {
    margin-bottom: 10px; 
    display: inline-block;
}

.footer__ul--li { 
    display: inline-block;
    margin: 5px;
    
}
.contacto-img{
    top: 5px;
}
/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media screen and (max-width: 860px){
    .titulo__nav--ul1{
        width: 50%;
        transition: all ease .3s;
    }

}
@media screen and (max-width: 778px) {
    .titulo{
        height: 3em;
        overflow: hidden;
    }
    .titulo__nav{
        padding-top: .5vh;
        padding-bottom: .5vh;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1),  rgba(0, 0, 0, .01));
    }
    .titulo__nav--ul {
        text-decoration: none;
    }
    .titulo__nav--h1-2 {
        font-family: sriracha  ;
        font-weight: 100;
        display: inline;    
        text-align: center;
        color:rgb(240, 158, 158);
    }
    .titulo__nav--h1P-2 {
        font-family: sans-serif  ;
        font-weight: 100;
        text-align: center;
        margin-left:-5px;
        color:rgb(240, 158, 158);
        display: inline;
        background-color: transparent;
    }
    .titulo__nav--li {
        display: none; /* Ocultar el menú en pantallas pequeñas */
    }
    .titulo__nav--h1 {
        display: none;
    }
    .titulo__nav--h1P {
        display: none;
    }
    .titulo__nav--ul1 {
        text-align: center;
        width: 100%;
    }
    .titulo__nav--img{
        display: inline-block;
        padding: 0 0;
        text-align: left;
        margin-left: 1.5em;
        position: absolute;
        justify-content: center;
        margin-top: .7em;
    }
    .menu{
        display: none;
        padding: 0;
        transition: all ease 3s;
    }
    #menuli{
        transition: all ease 5s;
    }
    .barramenu__li{
        padding: 1em 0;
        color: rgb(240, 158, 158);
        text-decoration: none;
        transition: all ease 3s;
    }
    .barramenu__li--a{
        color:rgb(240, 158, 158);
        display: inline-block;
        padding: 10px;
        position:relative;
        font-weight: 200;
        transition: all ease 3s;
    }
    #btnmenu{
        border:0px;
        background-color: transparent;
    }
    .barramenu{
        display: inline-block;
        height: 1.3em;
        transition: all ease .5s;
        transform: 0.3s;
      
    }
    .licheck{
        display:inline;
        position: fixed;
        opacity: 0;
    }
    .titulo__nav--h1 {
        margin: auto;
    }
    .titulo__nav--a{
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;

    }
    .div{
        height: 50vh;
        overflow: hidden;
    }
    .div__div1{
        width: 100%;
        height: 100%;
        background-image: none;
        transition: .5s ease;
        display: flex;

    }
    .div__div2{
        display: none;
        background-image: none;
    }
    .div__div3{
        display: none;
        background-image: none;
    }
    .img_model{
        display: inline-block;
        height: auto;
    }
    @keyframes rotateAnimation {
        0%{
            transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    }
      /* Estilo para la clase 'rotate-image' que aplica la animación */
    .rotate-image {
        transition: transform 0.3s;
    }
    /* Estilo para la clase 'rotate-animation' que activa la animación */
    .rotate-animation {
        animation: rotateAnimation 0.5s linear;
    }
}
