/*index*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
html{
    background-color: rgb(255, 255, 255);
}
img {
        border-style: none;
        max-width: 100%;
}

.titulo {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    display: inline;
    z-index: 50;
    position: fixed;
    background: transparent;
    opacity: 1;
    transition: all .5s;
}
.titulo__nav {
   width:100%; 
   padding-top: 1em;
   padding-bottom: 1em;
   background: transparent;
}
.titulo__nav--ul {
    width: 100%;
    display: inline-block;
}
.titulo__nav--ul1 {
    text-align: left;
    display: inline-block;
    width: 60%;
}
.titulo__nav--img{
    display: none;
}
.titulo__nav--h1 {
    font-family: sriracha  ;
    font-weight: 100;
    display: inline;    
    text-align: left;
    margin-left:60px;
    color:rgb(240, 158, 158);
}
.titulo__nav--h1P {
    font-family: sans-serif  ;
    font-weight: 100;
    text-align: left;
    margin-left:-5px;
    color:rgb(240, 158, 158);
    display: inline;
    background-color: transparent;
}
.titulo__nav--ul2 {
    text-align: center;
    display: inline-block;
    width: 40%;
}
.titulo__nav--li {
    display:inline ;
}
#contacto{
    cursor: pointer;
}
.titulo__nav--a1 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
    border-left:1px solid;
    border-color:  rgb(240, 158, 158);
}
.titulo__nav--a2 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
    border-left:1px solid;
    border-color:  rgb(240, 158, 158);
}
.titulo__nav--a3 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
    border-left:1px solid;
    border-color:  rgb(240, 158, 158);
}
.titulo__nav--a4 {
    text-decoration: none;
    color: rgb(240, 158, 158);
    font-size:1em;
    font-weight: 500;
    padding: 7px;
    border-left:1px solid;
    border-color:  rgb(240, 158, 158);
}
.titulo__nav--a5 {
    padding: 7px;
    border-left:1px solid;
    border-color:  rgb(240, 158, 158);
    display: inline;
    cursor: pointer;
    position: relative;
}
.titulo__nav--a  :hover{
    color: rgb(250, 158, 158);
    border-radius: 10px;
    border-width: 1em;
    border: 2px solid;
    border-color:rgb(240, 158, 158) ;
    transition: border 1s;

}
.section{
    background-size:cover;
    background-position-x: center;
    height:50vh;
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("torta1.jpg");
}
.section__div{
    background: none;
}
.section1 {
    height: 30em;
}
.section1__div{
    width: 100%;
    background-color: rgb(250, 222, 98);
    display: inline-block;
    height: 6em;
    color: rgb(94, 63, 42);
    text-align: center;
}
.b{
    top: 2em;
    display: inline-block;
    padding-top: 1em;
    font-size: 2em;
    font-weight: 500;
}
footer {
    background-color: rgb(85, 46, 46);
    width: 100%;
    text-align: center;
    display: inline-block;
    color:rgb(255, 255, 255);
    background-image: url(tortachoco.jpg);
    background-size:contain;
    height: 100%;
    border-color: rgba(240, 248, 255, 0);
}
.footer__conta {
    padding-left: 20px;
}
.link{
    color:rgb(255, 255, 255);
    
}
.footer-p {
    margin-bottom: 10px; 
    display: inline-block;
}

.footer__ul--li { 
    display: inline-block;
    margin: 5px;
    
}
.contacto-img{
    top: 5px;
}
/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media screen and (max-width: 978px) {
    .titulo__nav--ul{
        text-align: center;
    }

    .titulo__nav--li {
        display: none; /* Ocultar el menú en pantallas pequeñas */
    }
    .titulo__nav--ul1 {
        text-align: center;
        display: inline;
    }
    .titulo__nav--img{
        display: inline-block;
        height: 5px;
    }
    .barramenu{
        display: inline-block;
        height: 1em;
    }
    .titulo__nav--h1 {
        margin: auto;
    }
    .titulo__nav--a{
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;

    }
    .section{
        height: 99vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("torta2.jpg");
        background-position-y: center;
        background-position-x: center;
    }
}